<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="{{ request.LANGUAGE_CODE }}">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<input type="hidden" id="csrfToken" value="{{ csrf_token }}">
<title>iMPRESS-AI Chatbot</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Custom CSS -->
<link rel="stylesheet" href="{% static 'css/app.css' %}">
<!-- APL tab icon -->
<link rel="icon" href="{% static 'icon/favicon.ico' %}">
<style>
  body {
    zoom: 90%;
  }
</style>
</head>
<body>
  <div class="header">
    <div>
      <form action="{% url 'set_language' %}" method="post">
        {% csrf_token %}
        <span class="language-label">{% trans '言語選択 ' %}</span>
        <select name="language" onchange="this.form.submit()">
            <option value="ja" {% if request.LANGUAGE_CODE == 'ja' %}selected{% endif %}>Japanese</option>
            <option value="en" {% if request.LANGUAGE_CODE == 'en' %}selected{% endif %}>English</option>
        </select>
      </form>
      <button class="chatbot-end">Chatbot ends</button>
    </div>
  </div>
  <div class="images-container">
    <div class="image-container-left">
      <img src="{% static 'chat_app/images/roboimage_last.png' %}" alt="上司ロボットの画像" height="100" />
    </div>
    <div class="image-container-right">
      <img src="{% static 'chat_app/images/roboimage_sub.png' %}" alt="部下ロボットの画像" height="100" />
    </div>
  </div>
  <div class="scroll-control">
    <button onclick="scrollToTop()" class="btn btn-primary scroll-top-button">Scroll to Top   </button>
    <button onclick="scrollToBottom()" class="btn btn-primary scroll-bottom-button">Scroll to Bottom</button>
  </div>

  <div class="container">
    <div class="chat-header">
      iMPRESS-AI Chatbot
    </div>
    <div class="chat-window" id="messages">
      <!-- Chat messages will be dynamically loaded here -->
    </div>
    <div class="input-group">
      <textarea id="messageInput" placeholder="{% trans '質問を入力して、送信ボタンを押して下さい' %}"></textarea>
      <button id="sendButton">{% trans '送信' %}</button>
    </div>
  </div>

<div id="customDialog" class="modal fade" data-backdrop="static" data-keyboard="false" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "チャットボット終了の確認" %}</h5>
      </div>
        <div class="modal-body">
          {% trans "チャットボットを終了すると会話履歴はクリアされます。" %}<br>
          {% trans "問題なければ、OKボタンを押して下さい。" %}
        </div>
      <div class="modal-footer">
        <button id="okButton" class="btn btn-primary">OK</button>
        <button id="cancelButton" class="btn btn-secondary">CANCEL</button>
      </div>
    </div>
  </div>
</div>

  <div id="askUrl" data-url="{% url 'ask' %}" style="display:none;"></div>

  <div id="loadingIndicator" style="display: none; position: fixed; z-index: 1000; left: 0; top: 0; width: 100%; height: 100%; background: rgba(255, 255, 255, 0.3);">
    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%);">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
  
  
  <!-- Optional JavaScript -->
  <!-- jQuery Slimをフルバージョンに変更 -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.9.3/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>  
  <script>
    $(document).ready(function() {
        let csrfToken = document.getElementById('csrfToken').value;
        let askUrl = document.getElementById('askUrl').dataset.url;

        // スクロールバーの有無を判断するカスタムjQuery関数を定義
        //jQuery.fn.hasScrollBar = function() {
        //    console.log("this.get(0).scrollHeight:", this.get(0).scrollHeight); 
        //    console.log("this.get(1).scrollHeight:", this.get(0).scrollHeight);
        //    console.log("this.innerHeight():", this.innerHeight()); 
        //    return this.get(0) ? this.get(0).scrollHeight > this.innerHeight() : false;
        //};
        //console.log("Has Scroll Bar:first", $('#messages').hasScrollBar());

        // ページロード時にローカルストレージから会話履歴を取得して表示
        let storedMessages = JSON.parse(localStorage.getItem('messages'));
        if (storedMessages) {
            $('#messages').html(storedMessages);
        }
        
        // メッセージ送信ボタンのクリックイベント
        $('#sendButton').click(function() {
            // メッセージの前後の空白を削除
            let message = $('#messageInput').val().trim();   
            // メッセージが空でない場合のみ処理を実行
            if (message) { 
                // ユーザーのメッセージをチャットウィンドウに追加
                $('#messages').append('<div><img src="{% static "chat_app/images/human.png" %}" alt="User" style="height: 20px; width: 20px;"></div>');
                $('#messages').append('<div>' + message + '</div>');

                $('#loadingIndicator').show();   // インジケータを表示 

                $.ajax({
                    type: "POST",
                    url: askUrl,
                    data: { message: message },
                    headers: { "X-CSRFToken": csrfToken },
                    success: function(data) {
                        function typeMessage(message, index, messageContainer) {
                            if (index < message.length) {                 // メッセージの終わりまで到達していない場合
                                if (message[index] === '\n') {            // 改行コードがある場合は、次の行に出力
                                    $(messageContainer).append('<br>');   // 改行を追加
                                    // 改行後の空白を&nbsp;に置換
                                    let spaces = "";
                                    index++;
                                    while (message[index] === ' ') {
                                        spaces += "&nbsp;";
                                        index++;
                                    }
                                    $(messageContainer).append(spaces);
                                    // 空白の後の文字を処理するためにindexをデクリメント
                                    index--;
                                } else {
                                    $(messageContainer).append(message[index]); // 現在の文字を追加
                                }
                                // 次の文字を追加するためにタイマーを設定
                                // 再帰的に関数を呼び出し、次の文字を処理  50ミリ秒ごとに次の文字を追加
                                setTimeout(function() {                   
                                    typeMessage(message, index + 1, messageContainer); 
                                }, 50);                                   
                            } else {
                                $('#messages').append('<br><hr>');          // メッセージの終わりに改行と区切り線を追加
                                // メッセージの出力が完了したら、localStorageに保存
                                localStorage.setItem('messages', JSON.stringify($('#messages').html()));
                                $('#loadingIndicator').hide();              // インジケータを非表示
                                window.scroll(1000, 1000);                  // 画面最下部に移動
                                // setTimeout(toggleScrollButtons, 100);       // ScrollButton表示判断
                            }
                        }

                        // ボットのメッセージ出力開始
                        let messageContainer = $('<div>').append('<img src="{% static "chat_app/images/bot.png" %}" alt="Bot" style="height: 20px; width: 20px;"></div>');
                        $('#messages').append(messageContainer);
                        let textContainer = $('<div>');                     // 新しい行にメッセージを追加するためのコンテナ
                        $('#messages').append(textContainer);
                        typeMessage(data.message, 0, textContainer);        // メッセージと開始インデックス（0）を渡して関数を呼び出し
                        // setTimeout(toggleScrollButtons, 100);               // ScrollButton表示判断
                    },
                    error: function() {
                        // エラーが発生した場合もインジケータを非表示にする
                        $('#loadingIndicator').hide();
                    }
                });
                $('#messageInput').val('');            // 入力フィールドをクリア
                // setTimeout(toggleScrollButtons, 100);  // ScrollButton表示判断
            }
        });

        // Enterキーで送信ボタンをクリックするイベントを追加
        $('#messageInput').keydown(function(e) {
            if (e.key === 'Enter' && !e.shiftKey) {    // Shiftキーが押されていないときのみ処理を実行
                e.preventDefault();                    // Enterキーによるフォーム送信を防ぐ
                $('#sendButton').click();              // 送信ボタンをクリック
            }
        });     

        $('#okButton').click(function() {
          $('#customDialog').modal('hide');
        });

        $('#cancelButton').click(function() {
          $('#customDialog').modal('hide');
        });

        $('.chatbot-end').click(function() {
          $('#customDialog').modal('show');             // カスタムダイアログを表示
        });

        $('#okButton').click(function() {
          $('#customDialog').modal('hide');
          // OKボタンがクリックされたときに会話履歴をクリア
          localStorage.removeItem('messages');
          console.log("通過 localStorage.remove");
          $.ajax({
            type: "POST",
            url: '/chat_app/clear_history/',            // clear_history関数に対応するURL
            headers: { "X-CSRFToken": csrfToken },
            success: function() {
              console.log("通過 /chat_app/clear_history/");
              // window.open('','_self').close();
              window.location.reload();                 // ページをリロード
            }
          });
        });

        $('#cancelButton').click(function() {
          $('#customDialog').modal('hide');
        });

        // スクロールバーの表示状態に基づいてボタンの表示を切り替える関数
        //function toggleScrollButtons() {
        //    console.log("toggleScrollButtons is called");    
        //    if ($('#messages').hasScrollBar()) {
        //        console.log("scroll-button hide");  
        //        $('.scroll-top-button').hide();      // スクロールバーがない場合はボタンを非表示
        //        $('.scroll-bottom-button').hide();   // スクロールバーがない場合はボタンを非表示
        //    } else {
        //        console.log("scroll-button show");   
        //        $('.scroll-top-button').show();      // スクロールバーがある場合はボタンを表示
        //        $('.scroll-bottom-button').show();   // スクロールバーがある場合はボタンを表示
        //    }
        //} 
        
        // スクロール時にスクロールボタンを無条件に表示
        function showScrollButtons() {           
            $('.scroll-top-button').show();
            $('.scroll-bottom-button').show();
        }

        // ページロード時とスクロール時にボタンの表示を切り替える
        // setTimeout(toggleScrollButtons, 100);  
        // スクロールイベントを疑似的に発生させる
        window.scrollTo(0, 100); // 100ピクセル下にスクロール
        // ユーザーがスクロールしたときにボタンを表示する
        // スクロールバーが表示されている時のみこのイベントは発生
        window.addEventListener('scroll', showScrollButtons);
    });

    function scrollToBottom() {
      window.scrollTo({
        top: document.body.scrollHeight,
        left: 0,
        behavior: 'smooth'
      });
    }

    function scrollToTop() {
    window.scrollTo({
        top: 0,
        left: 0,
        behavior: 'smooth'
    });
  }
  </script>
</body>
</html>